@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');

:root {
    --primary-color-text: #BFA9A0;
    --primary-color-headlines: #3D4677;
    --primary-color-accent: #DB7559;
    --primary-color-background: #fffefd;

}

body {
    /* oluline teha iga projekti alguses need seadistused: */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*paddingut või raami lisades ei muutu box-i suurus suuremaks!*/
    font-family: "Roboto", sans-serif;
}

.container {
    width: 100%;
    color: var(--primary-color-text);
    background-color: var(--primary-color-background);
}

.menu {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}

.page-menu {
    justify-self: end;
    margin: auto 35px auto auto;
}

.logo-span {
    display: inline-block;
    margin: 52px 35px;
    /* vasakult, alt, ülalt */
    font-family: "Russo One", sans-serif;
    font-size: 28px;
    font-weight: 900;
    color: var(--primary-color-headlines);
}

.hamburger {
    width: 58px;
    height: 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid var(--primary-color-accent);
    border-radius: 10px;
}

.line {
    width: 35px;
    height: 4px;
    /*kriipsu paksus*/
    background-color: var(--primary-color-accent);
    margin: 6px;
}


.profile-image img {
    display: inline-block;
    /*et saaksime pildi asukohta üles, alla muuta*/
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 50px;
}

.profile {
    text-align: center;
    /* kuna img on inline, siis võetakse seda kui texti*/
}

hr {
    width: 160px;
    height: 8px;
    background-color: var(--primary-color-accent);
    border-radius: 7px;
    border: none;
    margin: 0 auto;
}

.headline h3 {
    font-family: "Russo One", sans-serif;
    font-weight: regular;
    font-size: 28px;
    color: var(--primary-color-headlines);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

.frame {
    width: 100%;
    /* anname laiuse, et saaks pärast muuta*/
    text-align: center;
    /* kohtleb ka pilti tekstina*/
}

.frame img {
    display: inline-block;
    /*kui img on inline, siis ei saa ülalt, alt kauguseid muuta, 
    kui teeme inline-block, siis saame*/
    width: 274px;
    height: 160px;
    object-fit: cover;
    margin-top: 25px;
    margin-bottom: 50px;
}

.my-clients {
    width: 100%;
}

.card {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.card h4 {
    font-family: "Russo One", sans-serif;
    font-size: 24px;
    color: var(--primary-color-headlines);
    margin: 20px;

}

.card span {
    display: inline-block;
    font-size: 18px;
    font-weight: regular;
    color: var(--primary-color-headlines);
    background-color: var(--primary-color-text);
    opacity: 0.6;
    padding: 5px;
    margin-bottom: 20px;
}

.card p {
    font-size: 16px;
    margin: auto 20px;
    line-height: 25px;
}

.contact-me {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.contact-me button {
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-size: 28px;
    font-family: "Russo One", sans-serif;
    color: var(--primary-color-headlines);
    background-color: var(--primary-color-accent);
    padding: 10px 47px;
    margin: 50px auto;
}

.social-media {
    width: 100%;
    text-align: center;
}

.social-media-icons ul {
    list-style: none;
    padding: 0;
    /* listidel on vaikimis vasakul padding! */
}

.social-media-icons ul li {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-top: 57px;
    margin: 29px;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin-left: 10px;
    color: var(--primary-color-headlines);
    font-size: 16px;
}


.menu-list ul li {
    display: none;
}

.profile-learn-more {
    display: none;
}

.my-works p {
    display: none;
}

.gallery {
    display: none;
}

.contact-me h3,
.contact-me p {
    display: none;
}

.contact-form {
    display: none;
}

.contact-details {
    display: none;
}


@media (min-width: 600px) and (max-width: 1024px) {
    .logo-span {
        font-size: 34px;
    }

    .hamburger {
        display: none;
    }

    .menu {
        grid-template-columns: 2fr 5fr;
        align-items: center;
    }

    .menu-list {
        display: block;
    }

    .menu-list ul {
        list-style: none;
        padding: 0;
        text-transform: uppercase;
        font-size: 24px;
        color: var(--primary-color-headlines);
        font-weight: regular;
    }

    .menu-list ul li {
        display: inline-block;
    }

    .profile {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .profile-image img {
        width: 322px;
        height: 322px;
    }

    .profile-learn-more {
        display: grid;
        justify-content: start;
        align-items: center;
    }

    .profile-details span {
        display: block;
        text-align: start;
        width: 245px;
        font-size: 30px;
        font-weight: lighter;
        color: var(--primary-color-headlines);
    }

    .profile-details button {
        display: block;
        text-align: start;
        background-color: var(--primary-color-accent);
        color: var(--primary-color-headlines);
        font-size: 20px;
        padding: 12px 15px;
        border: none;
        border-radius: 10px;
        margin-top: 20px;
        display: block;
        text-align: start;
    }

    .profile-details img {
        width: 20px;
        height: 13px;
        margin-right: 10px;
    }

    hr {
        margin: 0 auto 0 35px;
    }

    .headline h3 {
        font-size: 34px;
        text-align: start;
        margin-left: 35px;
    }

    .my-works p {
        display: block;
        margin-left: 35px;
        margin-right: 35px;
    }

    .frame {
        display: none;
    }

    .gallery img {
        width: 355px;
        height: 160px;
        object-fit: cover;
    }

    .gallery {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        justify-items: center;
        gap: 18px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .card {
        margin-top: 40px;
    }

    .card img {
        width: 100px;
        height: 75px;
    }

    .card h4 {
        font-size: 34px;
    }

    .card span {
        font-size: 22px;
    }

    .card p {
        width: 570px;
        justify-content: center;
        font-size: 18px;
        margin: 0 auto;
    }

    .contact-me {
        margin-top: 80px;
    }

    .btn-contact {
        display: none;
    }

    .contact-me h3,
    .contact-me p {
        display: block;
    }

    .contact-intro {
        width: 100%;
    }

    .contact-intro p {
        width: 410px;
        font-size: 18px;
        text-align: left;
        margin-left: 35px;
    }

    .contact-form {
        width: 100%;
        display: block;
        font-size: 18px;
    }

    .contact-form form {
        text-align: start;
        /* et paddingu lisamisel boksi mõõdud ei muutuks:*/
        box-sizing: border-box;
        padding: 30px;
    }

    .contact-form .label {
        color: var(--primary-color-accent);
        margin-top: 12px;
    }

    input {
        height: 30px;
    }

    input,
    textarea {
        width: 100%;
        border: 1px solid var(--primary-color-headlines);
        font-size: 18px;
        color: var(--primary-color-headlines);
        background-color: #bfa9a029;
    }

    .contact-form button {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        text-transform: none;
        /* vaikimisi seaded kustutab*/
        padding: 6px 26px;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .contact-details {
        width: 100%;
        display: block;
    }

    .contact-details ul {
        list-style: none;
        color: var(--primary-color-headlines);
        font-size: 22px;
        padding: 0;
        text-align: start;
        margin-left: 35px;
    }

    .contact-details img {
        margin-right: 30px;
    }

    .social-media {
        width: 100%;
        text-align: start;
    }

    .social-media-icons ul li {
        margin: 0 20px 0 35px;
    }

    footer {
        margin: 50px auto;
    }
}

@media (min-width: 1025px) {

    .logo-span {
        font-size: 58px;
    }

    .hamburger {
        display: none;
    }

    .menu {
        grid-template-columns: 2fr 5fr;
        align-items: center;
    }

    .menu-list ul {
        list-style: none;
        padding: 0;
        text-transform: uppercase;
        font-size: 32px;
        color: var(--primary-color-headlines);
        font-weight: regular;
    }

    .menu-list ul li {
        display: inline-block;
        margin-left: 10px;
    }


    .profile {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .profile-image img {
        width: 600px;
        height: 600px;
    }

    .profile-learn-more {
        display: grid;
        justify-content: start;
        align-items: center;
    }

    .profile-details span {
        display: block;
        text-align: start;
        width: 370px;
        font-size: 40px;
        font-weight: lighter;
        color: var(--primary-color-headlines);
    }

    .profile-details button {
        display: block;
        text-align: start;
        background-color: var(--primary-color-accent);
        color: var(--primary-color-headlines);
        font-size: 32px;
        padding: 21px 30px;
        border: none;
        border-radius: 10px;
        margin-top: 20px;
        display: block;
        text-align: start;
    }

    .profile-details img {
        width: 30px;
        height: 19px;
        margin-right: 10px;
    }

    hr {
        width: 250px;
        margin: 100px auto 0 35px;
    }

    .headline h3 {
        font-size: 50px;
        text-align: start;
        margin-left: 35px;
    }

    .my-works-intro p {
        width: 923px;
        margin-left: 35px;
        font-size: 18px;
    }

    .frame {
        display: none;
    }

    .gallery img {
        width: 430px;
        height: 300px;
        object-fit: cover;
    }

    .gallery {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        justify-items: center;
        gap: 18px;
        margin-top: 50px;
        margin-bottom: 50px;
    }


    .card {
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 95%;
        border: 1px solid var(--primary-color-text);
        margin: 35px;
        justify-content: center;
        align-items: center;

    }

    .card img {
        width: 300px;
        height: 225px;
        margin: 50px;

    }

    .card h4 {
        font-size: 45px;
        margin: 40px 133px 29px 133px;

    }

    .card span {
        display: inline-block;
        margin-left: 133px;
    }

    .card p {
        font-size: 18px;
        margin: 0 133px 40px 133px;
        ;
    }

    .card-text-content {
        display: grid;
        text-align: start;
        box-sizing: border-box;

    }

    .role-description {
        display: inline-block;
        margin-right: 16px;
    }


    .get-in-touch {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        box-sizing: border-box;
        padding: 35px;
    }

    .contact-me {
        margin-top: 80px;
    }

    .btn-contact {
        display: none;
    }

    .contact-me h3,
    .contact-me p {
        display: block;
    }

    .contact-intro {
        width: 100%;
    }

    .contact-intro p {
        width: 500px;
        font-size: 18px;
        text-align: left;
        margin-left: 35px;
    }

    .contact-form {
        width: 100%;
        display: block;
        font-size: 25px;
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .contact-form form {
        text-align: start;
    }

    .contact-form .label {
        color: var(--primary-color-accent);
        margin-top: 12px;
    }

    input {
        height: 50px;
    }

    input,
    textarea {
        width: 100%;
        border: 1px solid var(--primary-color-headlines);
        font-size: 18px;
        color: var(--primary-color-headlines);
        background-color: #bfa9a029;
    }

    .contact-form button {
        font-family: "Roboto", sans-serif;
        font-size: 28px;
        text-transform: none;
        /* vaikimisi seaded kustutab*/
        padding: 8px 59px;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .contact-details {
        width: 100%;
        display: block;

    }

    .contact-details ul {
        list-style: none;
        color: var(--primary-color-headlines);
        font-size: 35px;
        padding: 0;
        text-align: start;
        margin-left: 50px;
    }

    .contact-details ul li {
        margin: 50px auto;

    }

    .contact-details img {
        margin-right: 30px;
    }


    .social-media {
        grid-template-columns: 2/3;
        grid-template-rows: 2/3;
        text-align: start;
    }

    .social-media-icons ul li {
        margin: 0 50px 0 50px;
    }

    .social-media-icons img {
        width: 100px;
        height: 100px;
    }

    .form-contacts-social {
        width: 100%;
        display: grid;
        grid-template-columns: 2 1fr;
    }

    .contacts-social {
        width: 100%;
    }

    .social-media .headline h3 {
        margin-left: 50px;

    }

    footer img {
        width: 23px;
        height: 23px;
    }

    footer p {
        font-size: 22px;
    }

    footer {
        margin: 100px auto;
    }


}